@import "../base/bootstrap.scss";

.penal-container {
  margin: auto;
  width: fit-content;
  border-radius: 10px;
  border: 2px solid #eaeaea;
  overflow: hidden;
  padding: 5px;
  margin-bottom: 20px;
}
