.penal-container {
  margin: auto;
  width: fit-content;
  border-radius: 10px;
  border: 2px solid #eaeaea;
  overflow: hidden;
  padding: 5px;
  margin-bottom: 20px;
  height: 360px;
  width: 800px;
  overflow-y: auto;
}

.penal {
  resize: none;
}

.sz-one-word {
  display: inline;
  font-size: 15px;
  font-family: "Ubuntu Mono", monospace;
  white-space: pre-wrap;
}

.break_word {
  color: rgba($color: #000000, $alpha: 0.2);
}

.current {
  border-bottom: 2px solid $primary;
}

.correct {
  color: rgba($color: #000000, $alpha: 0.2);
}

.wrong {
  color: rgba($color: #ff1515, $alpha: 1);
}
